@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@media print {
    body {-webkit-print-color-adjust: exact;}
}

.card-container{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin:30px 20px 30px 20px;
}

.card{
    width: 250px;
    height: auto;
    position: relative;
    background: #be7624;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    transition: all .3s ease-in;
    margin: 5px;
}
.card > *{
    padding: 10px;
}
.card .card-image{
    height: 150px;
    width: 150px;
    border: 5px solid #022a3c;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;    
}
.card .card-title{
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #262654;
}
.card:nth-child(1) .card-image{
    background-image: url(c1e1.jpg);
}
.card:nth-child(2) .card-image{
    background-image: url(c1e2.jpg);
}
.card:nth-child(3) .card-image{
    background-image: url(c1e3.jpg);
}
.card:hover{
    background: #ebb0cd;
    color: #fff;
    box-shadow: 0px 0px 8px 5px #000000;

}
.card .card-text{
    line-height: 20px;
    font-size: 400;
}
.date{
    padding:0;
    
}
.card-image2{
    height: 150px;
    width: 150px;
    border: 5px solid #022a3c;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;    
}
.card:nth-child(1) .card-image2{
    background-image: url(c2e1.jpg);
}
.card:nth-child(2) .card-image2{
    background-image: url(c2e2.jpg);
}
.card:nth-child(3) .card-image2{
    background-image: url(c2e3.jpg);
}

.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: rgb(220, 220, 220);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    top:40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}