body{
margin:0;
padding:0;
font-family: 'Rubik Vinyl', cursive;
background-image: url(/images/7.jpeg);
/* background-color: #0f0f0f; */
background-size: cover;



}
/* form h4{
    text-align: left;
} */
.sign-up-form
{
    width: 500px;
    /* box-shadow: 0 0 3px 0 rgba(0, 0,0, 0.3); */
    background: rgb(232, 228, 228);
    padding:20px;
    margin:8% auto 0;
    text-align:center ;
    border: 20px solid #3f7c09;
    border-radius: 20px;
}
.sign-up-form{
color: #0f0f0f;
margin-bottom:30 px ;
}
.input-box
{
    border-color: rgb(84, 171, 13);
    width: 300px;
    height: 30px;
    border-radius: 10px;
}
button{
    color:rgb(32, 25, 25);
    background-color: green;
    font-size: 15px;
    width: 300px;
    height: 30px;
    font-style: normal;
    cursor: pointer;
    border-radius: 5px;
    border-color: rgb(15, 14, 14);
}
.sign in{
 font-style:italic ;
}
.h1{
    font-weight: 5px;
    font-display: fallback;
}
body {
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
  }
  
  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }