.boxContainer{
    margin:auto;
    margin-top: 22%;
    position:relative;
    width:570px;
    height:50px;
    border:4px solid #ffffff;
    padding: 0px 10px;
    border-radius: 52px;
    background-color: white;
    opacity:1
}
.elementsContainer{
    width:100%;
    height:100%;
    vertical-align: middle;
   
}
.search{
    border:none;
    border-radius: 50px;
    height: 100%;
    width:100%;
    padding:0px 5px;
    font-size: 18px;
    /* font-family: ; */
    color:#919191;
    font-weight: 500;

}
.search:focus{
    outline: none;
}
.material-icons{
    font-size:25px;
    color:#000000;
    vertical-align: middle;
    padding-right: 0;
}
::placeholder {
    color: rgb(53, 53, 53);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #si{
     text-align: center;
  }