<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Description</title>
</head>
<style>
    body{
        background-color: black;
    }
    .container{
        background-color: rgb(5, 5, 5);
        display:block;
        height: 500px;
        margin: auto;
        width: 70%;
       border: 10px solid goldenrod;
       margin-top:100px;
    }
    #image{ 
        color:white;
        display:inline-block;
        margin-left:15px ;
        margin-top: 20px;
       border: 5px solid goldenrod;     
       background: url(xyz.jpeg);
       background-position: center;
       background-size: cover;
    }
    #eventInfo{
        color: white;
        display: inline-block;
        width: 450px;
        height: 450px;
        position: absolute;
        text-align: justify;
        padding: 27px;
        line-height: 1.8;
    }
    #eventInfo p{
        margin-top: 0; 
        margin-bottom: 0;
        font-size: 18px;
        display: inline-block;
    }
    
</style>
<body>
    <div class="container">
     
     <div id="image">
      
     </div>
     <div id="eventInfo">
        
     </div>
 
    </div>
    <script src="/register.js"></script>
</body>
</html>