<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sign-up-form">
<h1>Sign up now</h1>
<form >
    <h4>Enter email</h4>
    <input type="email" name="email" id="email" class="input-box" placeholder="email">
    <h4>Enter password</h4>
    <input name="password" type="password" id="password" class="input-box" placeholder="password">
    <br>
    <br>
    <button type="button" id='signup-btn'  class="signup-btn" onclick="submitForm()">Sign up</button>
    <br> 
    <p class="sign in">do you have an account? <a href="./login">Log in</a></p>
</form>

<script src = "/signup.js"> 
  </script>
</body>
</html>